<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="timerInterval" value="10" />
		<add key="api" value="10" />
		<add key="appName" value="Onyx.ContractService" />
		<add key="tokenApiUrl" value="https://localhost:44358/api/ApplicationAuth/login" />
		<add key="contractExpiryUrl" value="https://localhost:44360/api/Contracts/sendcontractexpiryemails" />
		<add key="approvalReminderUrl" value="https://localhost:44360/api/Contracts/sendapprovalreminderemails" />
	</appSettings>
</configuration>