<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="Oracle.ManagedDataAccess.Client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <appSettings>
    <add key="AppFolder" value="C:\\FBNC\\"/>
    <add key="AppName" value="OracleConnect"/>
    <add key="xmode" value="1"/>
    <add key="SmtpHost" value="mail.fbncapital.com"/>
    <add key="Proxy" value=""/>
    <add key="MaxRetry" value="5"/>
    <add key="SmtpPort" value="587"/>
    <add key="MailFrom" value="GLMigration@fbnquest.com"/>
    <add key="SmtpUserName" value="appservice@fbncapital.com"/>
    <add key="SmtpPassword" value="fbncit$1"/>
    <add key="UsesAuthentication" value=""/>
    <add key="WebsiteURL" value="www.fbnquest.com"/>
    <add key="ML_ITsupport" value="babatola.awe@fbnquest.com"/>
    <add key="ML_Fincon" value="abiodun.bamidele@fbnquest.com"/>
    <add key="ML_OracleSupport" value="b.awe@fbnquest.com"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="Client_LDAPUsername" value="qsbADUser"/>
    <add key="Client_LDAPPassword" value="qu3st@#23%"/>
    <add key="Client_LDAPPath" value="LDAP://fbncapitalltd.com/dc=fbncapitalltd,dc=com"/>

    <add key="FBNMB_LDAPUsername" value="QSBAdmin"/>
    <add key="FBNMB_LDAPPassword" value="qu3st@#23%"/>
    <add key="FBNMB_LDAPPath" value="LDAP://FBNMERCHANTBANK.COM/dc=FBNMERCHANTBANK,dc=COM"/>

    <add key="FBNC_LDAPUsername" value="qsbADUser"/>
    <add key="FBNC_LDAPPassword" value="qu3st@#23%"/>
    <add key="FBNC_LDAPPath" value="LDAP://fbncapitalltd.com/dc=fbncapitalltd,dc=com"/>
    <add key="AppKey" value="xoxoxo$@^%123#"/>

    <add key="UAT_KryptoKey" value="a@^%123#pp" />
    <add key="Live_KryptoKey" value="xoxoxo$@^%234#" />

    <!--DomainName: fbncapitalltd.com
    DomainPath: dc=fbncapitalltd,dc=com
    RootPath: LDAP://fbncapitalltd.com/dc=fbncapitalltd,dc=com-->

  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <Oracle.ManagedDataAccess.Client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </Oracle.ManagedDataAccess.Client>
</configuration>
