<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="TimerInterval" value="10" />
		<add key="api" value="10" />
		<add key="ApiUrl" value="https://onyx-contract-poc.reventholdings.com/api/" />
	</appSettings>
</configuration>