<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="timerInterval" value="10" />
		<add key="api" value="10" />
		<add key="appName" value="OnyxRevamped.DocumentService" />
		<add key="tokenApiUrl" value="https://onyx-auth-poc.reventholdings.com/api/ApplicationAuth/login" />
		<add key="contractExpiryUrl" value="https://onyx-contract-poc.reventholdings.com/api/Contracts/sendcontractexpiryemails" />
		<add key="sendDocumentNotificationUrl" value="https://onyx-contract-poc.reventholdings.com/api/Documents/sendDocumentNotification" />
		<add key="getdocumentsstatusbysubscriberidUrl" value="https://onyx-contract-poc.reventholdings.com/api/Documents/getdocumentsstatusbysubscriberid" />
	</appSettings>
</configuration>