<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="timerInterval" value="10" />
		<add key="api" value="10" />
		<add key="appName" value="Onyx.ContractService" />
		<add key="tokenApiUrl" value="https://auth-poc.flowmono.com/api/ApplicationAuth/login" />
	</appSettings>
</configuration>
